

.text-center{
  display : inline-block;
  position: relative;
  color: whitesmoke;
  height: 100px;
  width: 100vw;
  right:15px;
  background: linear-gradient(-90deg, #00909e,#27496d);
  font-size: 75px;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Arial,sans-serif;
  
}

#search-box{
  display: inline-block;
  position: relative;
  height: 50px;
  width: 800px;
}
.btn-success{
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100px;
  top: 100px;
  left: 400px;
}
.list-h2{
  display : inline-block;
  position: relative;
  color: black;
  height: 100px;
  width: 100vw;
  left:650px;
  top:100px;
  font-size: 55px;
  font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Arial,sans-serif;
}
.table {
	display: flex;   /* Allow the centering to work */
	margin: 0 auto;
}

ul {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	 li {
		display: inline;
  }
  
  .list-div{
    width: 20px;
  }
  #search-box{

    display: inline-block;
    position: relative;
    top: 100px;
    left:300px;
  }
.btn-secondary{
  display: inline-block;
  position: relative;
  left:700px;
  height: 100px;
  width: 300px;
  top: 200px;
  
}